<div class="window">
  <%= image_tag 'logo.png' %>
  <h1 id="home-intro">Welcome to Appetite!</h1>

  <h2 class="subtitle">Latest Dishes Yo</h2>
  <%= render 'shared/advertisements', advertisements: @advertisements %>
</div>
